body{
    background-color: white;
    padding-top: 70px;
}

.title{
    font-size: 60px;
    color: rgb(123, 125, 129);
    text-align: center;
    padding: 60px 0;
    border-bottom: 1px solid rgb(158, 158, 158);
    text-transform: uppercase;
}

.about_me{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 60px;
}

.nav-link{
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}

.navbar{
    background-color: black;  
}

.page_section{
    min-height: 100vh;
}

#umiejetnosci{
    font-family: 'Montserrat', sans-serif;
}

#projekty{
    font-family: 'Montserrat', sans-serif;
}

.projects{
    border: 1px solid grey;
    border-radius: 15px;
}

.my_projects, .my_skills{
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    border-bottom: 2px solid  rgb(158, 158, 158);
    margin-bottom: 40px;
    margin-top: 70px;
}

.my_project {
    border-bottom: 1px dotted grey;
    margin-bottom: 30px;
    padding-bottom: 25px;

}


.project_name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

img{
    width: 100%;
    border: 1px solid grey;
}
.contact_title{
    padding-top: 130px;
}

.contact{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
}

ul > li{
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}